/* 

flourish green: #048b03
shopify green: #035902
blue: #005EB8
*/

.text-white {
  color: rgba(255, 255, 255, .85)!important;
}

/* 21688 */

.btn {
  font-size: 11px;
  padding: 8px 26px 6px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  outline: none;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

/* 25992 */
.row.gap-y {
  margin-top: -15px;
  margin-bottom: -15px;
}

/* 27798 */
.section {
  position: relative;
  border-bottom: none;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
/* 7798 */
.overflow-hidden {
  overflow: hidden!important;
}

/* 601 */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* 27812 */
.section>.container, .section>.container-fluid, .section>.container-wide {
  position: relative;
  height: 100%;
}

/* end page.css shit */

body {
  min-height: auto;
  font-family: 'Nunito', 'Avenir Next Rounded', 'Avenir Next', sans-serif;
}

.text-shadow {
  text-shadow: 1px 1px 2px black; 
}
.modal {
  height: fit-content;
}

nav.fl-nav {
  height: 242px;

  -webkit-transition: height .3s; 
  -moz-transition: height .3s; 
  -ms-transition: height .3s; 
  -o-transition: height .3s; 
  transition: height .3s; 
}

#menu-toggle {
  padding-right: 22px;
  color: #035902;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

nav.fl-nav:not(.hidden) #menu-toggle .icon-close,
nav.fl-nav.hidden #menu-toggle .icon-hamburger {
  display: inline-block;
}

nav.fl-nav:not(.hidden) #menu-toggle .icon-hamburger,
nav.fl-nav #menu-toggle .icon-close {
  display: none;
}

nav.fl-nav.hidden {
  height: 58px;
}

nav.fl-nav header {
  display: flex;
  justify-content: space-between;
}

h1.fl-nav-header {
  color: #035902;
  margin: 15px 0;
  padding-left: 22px;
  text-align: left;
  font-size: 19px;
}

ul.fl-nav-list {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  border-top: 1px solid #ebebeb;
}

.hidden ul.fl-nav-list {
  top: -303px;
}

li.fl-nav-item {
  list-style: none;
  border-bottom: 1px solid #ebebeb;
}

li.fl-nav-item a {
  display: block;
  width: 100%;
  padding: 15px 30px;
  font-size: 16px;
}

li.fl-nav-item.active a {
  text-decoration: underline;
}

li.fl-nav-item:hover a {
  font-weight: bolder;
}


.header {
  background-color: #23a145;
  background-size: cover;
}

.btn-flourish {
  background-color: #048b03;
  color: #ffffff;
  border: solid 1px rgba(255,255,255,0);
  position: relative;
  top: 0px;
  margin: 4px;
}

.btn-flourish:hover, .btn-flourish:active {
  color: #ffffff;
  top: 2px;
}

.btn-flourish.active {
  color: #048b03;
  background: #ffffff;
  border: solid 1px #048b03;
}

.btn-subscribe {
  background-color: #ffffff;
  color: darkgreen;
}

.btn-subscribe:hover, .btn-learnmore:active {
  color: darkgreen;
}


.btn {
  font-size: 11px;
  padding: 8px 26px 6px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  outline: none;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

.btn-order {
  background-color: #ffffff;
  color: #048b03;
  border: solid 1px #048b03;
  position: relative;
  top: 0px;
  margin: 4px;
  margin-top: 16px;
}

.btn-order:hover, .btn-order:active {
  color: #ffffff;
  background-color: #048b03;
  top: 2px;
}

.btn-order.active {
  color: #048b03;
  background: #ffffff;
  border: solid 1px #048b03;
}

.modal a.close-modal {
  top: 2.5px !important; 
  right: 2.5px !important;
}

.text-white > a {
  color: rgba(255, 255, 255, .85)!important;
}

.filter-container {
  margin-bottom: 15px;
}

/* postcode filter stuff */
#query {
   max-width: 320px;
   margin: 0 auto;
 }
/* 
isotope lib adds left:15px to all the direct children of this element
fuck knows why
this is the hacky fix
have a lovely day
*/
#business-list {
  left: -15px;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.business {
  margin: 15px 0;
  width: 100%;
}

.business-img {
  min-width: 140px;
  max-width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.business-description {
  max-width: 400px; /* THIS IS THE MAX WIDTH OF THE IMAGES */
}

/* width > 768px */
@media screen and (max-width: 768px) {
  .business-description {
    margin: 0 auto;
  }
}

.collapsing {
  transition: none !important;
}

.navbar-left { max-width: 100%; }

.no-bg .navbar {
  background: #000000;
  margin-top: -10px;
}

.footer {
  border-style: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8d8d8d !important;
  opacity: 1; /* Firefox */
}

a {
  color: #048b03;
}

a:hover, a:focus {
  color: #048b03;
  text-decoration: underline;
  cursor: pointer;
}

.services-list {
  margin-bottom: 0px;
}

.offering-item {
  padding: 5px;
  padding-left: 7px;
  margin-bottom: 0px;
  margin-right: 8px;
  background-color: #f5e5e1;
  font-size: 80%;
  font-weight: bolder;
}

#stickyfilter {
  position: sticky;
  max-width: 100%;
  overflow-x: scroll;
  display: none;
  top: 0;
  line-height: 42px;
  height: 42px; 
  justify-content: center;
  background-color: #ffffff;
  z-index: 5;
}

.stickyfiltericons {
  background-color: #cfedce;
  font-size: 80%;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  height: 70%;
  align-items: center;
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}