/* 

flourish green: #048b03
shopify green: #035902

*/

body {
  min-height: auto;
}

.text-shadow {
  text-shadow: 1px 1px 2px black; 
}
.modal {
  height: fit-content;
}

nav.fl-nav {
  height: 242px;

  -webkit-transition: height .3s; 
  -moz-transition: height .3s; 
  -ms-transition: height .3s; 
  -o-transition: height .3s; 
  transition: height .3s; 
}

#menu-toggle {
  padding-right: 22px;
  color: #035902;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

nav.fl-nav:not(.hidden) #menu-toggle .icon-close,
nav.fl-nav.hidden #menu-toggle .icon-hamburger {
  display: inline-block;
}

nav.fl-nav:not(.hidden) #menu-toggle .icon-hamburger,
nav.fl-nav #menu-toggle .icon-close {
  display: none;
}

nav.fl-nav.hidden {
  height: 58px;
}

nav.fl-nav header {
  display: flex;
  justify-content: space-between;
}

h1.fl-nav-header {
  color: #035902;
  margin: 15px 0;
  padding-left: 22px;
  text-align: left;
  font-size: 19px;
}

ul.fl-nav-list {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  border-top: 1px solid #ebebeb;
}

.hidden ul.fl-nav-list {
  top: -303px;
}

li.fl-nav-item {
  list-style: none;
  border-bottom: 1px solid #ebebeb;
}

li.fl-nav-item a {
  display: block;
  width: 100%;
  padding: 15px 30px;
  font-size: 16px;
}

li.fl-nav-item.active a {
  text-decoration: underline;
}

li.fl-nav-item:hover a {
  font-weight: bolder;
}


.header {
  background-color: #23a145;
  /* background: url(../img/bg/market-night.jpg); */
  background-size: cover;
}

.btn-flourish {
  background-color: #048b03;
  color: #ffffff;
  border: solid 1px rgba(255,255,255,0);
  position: relative;
  top: 0px;
  margin: 4px;
}



.btn-flourish:hover, .btn-flourish:active {
  color: #ffffff;
  top: 2px;
}

.btn-flourish.active {
  color: #048b03;
  background: #ffffff;
  border: solid 1px #048b03;
}

.btn-subscribe {
  background-color: #ffffff;
  color: darkgreen;
}

.btn-subscribe:hover, .btn-learnmore:active {
  color: darkgreen;
}

.btn-voucher {
  padding: 0px;
}
.btn-voucher:hover {
  text-decoration: underline;
}

.btn-order {
  margin-top: 16px;
}

.modal a.close-modal {
  top: 2.5px !important; 
  right: 2.5px !important;
}

a {
  color: #048b03;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.business {
  width: 100%;
  left: 0px !important;
}

.business-img {
  min-width: 140px;
}

.collapsing {
  transition: none !important;
}

.navbar-left { max-width: 100%; }

.no-bg .navbar {
  background: #000000;
  margin-top: -10px;
}

@media only screen and (max-width: 479px) {
  .accordion .card-title a {
    padding: 16px 0px 16px 0px !important;
  }

  .navbar-brand {
    flex-direction: row-reverse;
      position: relative;
    right: -1.2rem;
  }
}

div.dataTables_wrapper div.dataTables_filter {
  padding-bottom: 50px;
  text-align: center !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  border-radius: 5px;
  border: 1px solid #eaeff4;
  padding: 10px;
  width: 300px !important;
}

.footer {
  border-style: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8d8d8d !important;
  opacity: 1; /* Firefox */
}


a:hover, a:focus {
  text-decoration: underline;
  cursor: pointer;
}

.services-list {
  margin-bottom: 0px;
}

.offering-item {
  padding: 5px;
  margin-bottom: 0px;
  margin-right: 8px;
  background-color: #f5e5e1;
  font-size: 80%;
  font-weight: bolder;
}