---
layout: the-list
title: The Flourish List
---

{% for business in site.data.businesses %}
  {% assign cmod = forloop.index0 | modulo: 5%}
  {% if  forloop.index0 == 5 %}
  <section class="section overflow-hidden business">
    <div class="container-fluid ">
      <div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if business.publish == "yes" %}
    <section id=id{{business.id}} class="section overflow-hidden business"
      data-type="{{business.type}}"
      data-area="{{business.city_region}}"
      {% for CTA in site.data.CTAs %}data-{{CTA.filterBy}}="{{business[CTA.filterBy]}}" {% endfor %}
      >
      <div class="container-fluid ">
        <div class="row gap-y ">
          <div class="col-md-2"></div>
          <div class="col-md-3 text-center ">
            <a target="_blank " class=" " href="{{ business.link }} ">
              <img 
                {% if forloop.index0 < 2 %}
                  src="{{ business.image }}"
                {% else %}
                  data-src="{{ business.image }}"
                  loading="lazy"
                {% endif %}
                class="business-img lazyload"
                alt="{{ business.name }} logo" />
            </a>
          </div>

          <div class="col-md-6 ">
            <div class="business-description">
              <h3>
                <a href="{{ business.link }} " class="name" >{{business.name}}</a>
              </h3>
              <p>
                {% assign postcode_split = business.postcode | split:" " %}
                {% assign first_half_postcode = postcode_split.first %}
                {{business.type}} in {{business.area}}
              </p>

              <div style="margin-bottom: 10px">
              {% if business.alcohol_available == "TRUE" %}
                {% assign alcohol = "Drinks 🍷"%}
                <span class="offering-item">{{alcohol}}</span>
              {% endif %}
              {% if business.groceries_available == "TRUE" %}
                {% assign groceries = "Groceries 🥦" %}
                <span class="offering-item">{{groceries}}</span>
              {% endif %}
              {% if business.meal_kits_available == "TRUE" %}
                {% assign mealkits = "Meal Kits 👨🏻‍🍳" %}
                <span class="offering-item">{{mealkits}}</span>
              {% endif %}
              {% if business.nhs_donations_available == "TRUE" %}
                {% assign nhsdonations = "NHS Donations 👩🏽‍⚕️" %}
                <span class="offering-item">{{nhsdonations}}</span>
              {% endif %}
              </div>

              {% if business.takeaway_link != "n/a" %}
              <p class="services-list">
                <i class="far fa-check-circle" style="color:#048b03;"></i> Takeaway available
              </p>
              {% endif %}

              {% if business.delivery_link != "n/a" %}
              <p class="services-list">
                <i class="far fa-check-circle" style="color:#048b03;"></i> Delivery available
              </p>
              {% endif %}

              {% if business.nhs_donations_available == "TRUE" %}
              <p class="services-list">
                <i class="far fa-check-circle" style="color:#005EB8;"></i> NHS Donations &mdash;
                <a target="_blank " href="{{ business.nhs_donations_link }}" style="color:#005EB8">
                  Donate now
                </a>
              </p>
              {% elsif business.voucher_text != "n/a" or business.flourish_link != "n/a" %}
              <p class="services-list">
                <i class="far fa-check-circle" style="color:#048b03;"></i> Vouchers available &mdash;

                {%if business.flourish_link !="n/a" %}
                <a target="_blank " href="{{ business.flourish_link }}">
                  Buy now
                </a>
                {%elsif business.voucher_link !="n/a"%}
                <a target="_blank " href="{{ business.voucher_link }}">
                  Buy now
                </a>
                {% endif %}
              </p>
              {% endif %}

              {% if business.delivery_link != "n/a" %}
              <a target="_blank " href="{{ business.delivery_link }}">
                <button class="btn px-8 btn-order">
                  Order &rarr;
                </button>
              </a>
              {% elsif business.takeaway_link != "n/a" %}
              <a class=" " target="_blank " href="{{ business.takeaway_link }}">
                <button class="btn px-8 btn-order">
                  Order &rarr;
                </button>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

