---
layout: the-list
title: The Flourish List
---

{% for business in site.data.businesses %}
  {% if business.publish == "yes" %}
    <section class="section bg-gray overflow-hidden business {{business.tag1}}">
      <div class="container-fluid ">
        <div class="row gap-y ">
          <div class="col-md-2"></div>
          <div class="col-md-3 mx-auto text-center ">
            <a target="_blank " class=" " href="{{ business.link }} ">
              <img src="{{ business.image }}" class="business-img" loading="lazy" alt="{{ business.name }} logo" />
            </a>
          </div>
          <div class="col-md-6 mx-auto ">
            <div>
              <h3>
                <a href="{{ business.link }} " class="name">{{business.name}} &mdash;</a>
                <small class="text-left">
                  <b>{{business.tag1}}</b>
                </small>
              </h3>
            </div>

            {% if business.takeaway_text != "n/a" %}
              <p>
                <b>Takeaway: </b>
                {% if business.takeaway_link != "n/a" %}
                  <a href="{{ business.takeaway_link }}">{{ business.takeaway_text }}</a>
                {% else %}
                  <span>{{ business.takeaway_text }}</span>
                {% endif %}
              </p>
            {% endif %}

            {% if business.delivery_text != "n/a" %}
              <p>
                <b>Delivery: </b>
                {% if business.delivery_link != "n/a" %}
                  <a href="{{ business.delivery_link }}">{{ business.delivery_text }}</a>
                {% else %}
                  <span>{{ business.delivery_text }}</span>
                {% endif %}
              </p>
            {% endif %}

            {% if business.online_sales_text != "n/a" %}
              <p>
                <b>Online shop: </b>
                {% if business.online_sales_link != "n/a" %}
                  <a href="{{ business.online_sales_link }}">{{ business.online_sales_text }}</a>
                {% else %}
                  <span>{{ business.online_sales_text }}</span>
                {% endif %}
              </p>
            {% endif %}

            {% if business.flourish_link != "n/a" %}
            <a class=" " target="_blank " href="{{ business.flourish_link }}">
              <button class="btn px-8 btn-flourish">
                Shop on Flourish
              </button>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

