{% include filter-button-array.html %}

<div style="line-height: 42px;height: 42px; display: flex; justify-content: center;margin-top:5px;">
  <p class="text-center">
    <p id="postcode-query-copy" style="display:none">
      <b class="business-count"></b> businesses within <b class="radius"></b> of&nbsp;
    </p>
    <p id="button-filters-copy">
      <b class="business-count">{{site.data.businesses | where: "publish", "yes" | size}}</b> businesses around&nbsp;
    </p>
    {% include city-region-select.html %}
  </p>
</div>

{% include postcode-search.html %}

<div class="text-center" id="stickyfilter">
	<span>Filters:</span>
  {% for CTA in site.data.CTAs %}
  <span class="stickyfiltericons" id="{{CTA.filterBy}}">
    {{CTA.buttonString}}
  </span>
  {% endfor %}
</div>

<div class="text-center vegan-callout">
  <p>
    Know a good vegan spot we've misssed? We're building out this part of our list.
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSePTw6SCO9HeB23fuYvb3b3oaCNBMTkIcnJBEnMTNMLVnWzUA/viewform">Help by submitting</a>
  </p>
</div>