{% include filter-button-array.html %}

<div style="line-height: 42px;height: 42px; display: flex; justify-content: center;">
  <p class="text-center">
    <p>Showing <b id="business-count">{{site.data.businesses | where: "publish", "yes" | size}}</b> businesses in&nbsp;</p>
    {% include city-region-select.html %}
  </p>
</div>

<div class="text-center" id="stickyfilter">
	<span>Filters:</span>
  {% for CTA in site.data.CTAs %}
  <span class="stickyfiltericons" id="{{CTA.filterBy}}">
    {{CTA.buttonString}}
  </span>
  {% endfor %}
</div>