<head>
  <title>The Flourish List</title>
  <meta name="description" content="A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis." />

    {% include common-head.html %}
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://thelist.letsflourish.co/">
  <meta property="twitter:title" content="The Flourish List">
  <meta property="twitter:description" content="A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis.">
  <meta property="twitter:image" content="https://thelist.letsflourish.co/img/flourish/twitter-summary-card-lg-img-v2.png">
  
  <!-- open graph images -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://thelist.letsflourish.co/">
  <meta property="og:title" content="The Flourish List">
  <meta property="og:description" content="A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis.">
  <meta property="og:image" content="https://thelist.letsflourish.co/img/flourish/twitter-summary-card-lg-img-v2.png">

</head>