<head>
  <title>The Flourish List</title>
  <meta name="description" content="A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis." />
  
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/page.css" />
  <link rel="stylesheet" type="text/css" href="/css/list.css">
  <link rel="stylesheet" type="text/css" href="/css/nice-select.css">
  <style>.nice-select .list { left: -55% }</style>

  <!-- jquery Modal -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://thelist.letsflourish.co/">
  <meta property="twitter:title" content="The Flourish List">
  <meta property="twitter:description" content="A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis.">
  <meta property="twitter:image" content="https://thelist.letsflourish.co/img/flourish/twitter-summary-card-lg-img-v2.png">

  <!-- open graph images -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://thelist.letsflourish.co/">
  <meta property="og:title" content="The Flourish List">
  <meta property="og:description" content="A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis.">
  <meta property="og:image" content="https://thelist.letsflourish.co/img/flourish/twitter-summary-card-lg-img-v2.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161794815-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161794815-1');
  </script>

<!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">


  <!-- icon imgs -->
  <link rel="shortcut icon" href="/img/flourish/favicon.png" type="image/x-icon">
  <link rel="icon" href="/img/flourish/favicon.png" type="image/x-icon">
  
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8e251375383feeda1b2ab3c7f/38b5f1881c93800f505cf9c8e.js");</script>


</head>