<form action="#" id="postcodeQuery" class="text-center" style="display: none; padding: 15px">
  <div class="form-group">
    <input id="query" class="form-control" name="postcode" type="text" placeholder="What's your postcode friend?" />
  </div>
  <div id="spinner" style="display: none;">🧙🏾‍♀️ Rummaging around, just one sec...</div>
  <div id="searchError" class="alert alert-danger" style="display: none">
    <b>🤷🏼‍♂️ Aww snap:&nbsp;</b><span id="errorMessage">something went wrong</span>
  </div>
</form>
