<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/list.css">
	<link rel="stylesheet" type="text/css" href="/css/blog.css">
</head>
<body>

	<div class="container">

	<!-- {% include site-nav.html %} -->
	<h1>Blog</h1>
	
	{{ content }}
	
	</div>

	<!-- {% include site-footer.md %} -->
</body>
</html>
