<!DOCTYPE html>
<html lang="en">

{% include list-head.html %}

<body>

  {% include site-nav.html %}

  {% comment %}
  {% include header.html %}
  {% endcomment %}
  
  <section class="section">
    <div class="container ">

      <p class="text-center">
        A directory of independent food and drink spots in London offering delivery, takeaway or NHS donations services during the lockdown - we update daily
      </p>
      <p class="text-center">
        Add your business or suggest one <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSePTw6SCO9HeB23fuYvb3b3oaCNBMTkIcnJBEnMTNMLVnWzUA/viewform">here</a>
      </p>

      <!-- Modal HTML embedded directly into document -->
      <div id="ex1" class="modal">
        {% include mailchimp.html %}
      </div>

      <!-- filters -->
      {% include filter.html %}

      <div id="business-list" class="container">
        {{ content }}
      </div>
  </section>

  {% include site-footer.md %}

  <script src="/js/lazysizes.min.js" async></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

  <!-- List js -->
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <script src="js/list.js"></script>

</body>
</html>