 <!DOCTYPE html>
<html lang="en">

{% include list-head.html %}


<body>

  <!-- header -->
  <header class="header bg-img-right text-white">
    <div class="container text-center">
      <div class="row align-items-center py-8">
				<div class="col-md-3 col-xs-12"></div>
        <div class="col-md-6 col-xs-12">
          <h1 class="display-3 text-shadow">
            <strong>The Flourish List</strong>
          </h1>
          <br />
          <p class="lead-3 text-shadow">A directory of businesses providing new products, delivery options and offers during the COVID-19 crisis.</p>
          <br />
          <br />
          <br />
          <p class="gap-xy">
            <a class="btn px-6 btn-flourish" href="https://letsflourish.co ">Learn more about Flourish</a>
          </p>
        </div>
      </div>
    </div>
  </header>

  <!-- the list -->
  <section class="section overflow-hidden bg-gray ">
    <div class="container ">

      <!-- <div data-provide="shuffle ">
        <ul class="nav nav-center nav-bold nav-uppercase nav-pills mb-7 " data-shuffle="filter ">
          <li class="nav-item ">
            <a class="nav-link active " style="cursor: pointer; " data-shuffle="button ">All</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " data-shuffle="button " style="cursor: pointer; " data-group="Canada ">Canada (filter)</a>
          </li>
          <br />
        </ul>
        <div class="col-md-6 col-xl-4 mx-auto input-round ">
          <div class="input-group ">
            <div class="input-group-prepend ">
              <div class="input-group-text ">🔍</div>
            </div>
            <input class="form-control " type="text " data-shuffle="search " placeholder="Canada " />
          </div>
				</div> -->
				
				<h1 class="text-center">Discover deals, delivery and more</h1>

        <div data-shuffle="list ">
          {{ content }}
        </div>
      </div>
  </section>

  {% include site-footer.md %}

<script type="application/javascript">
    //Toggle hamburger menu on mobile
    function myFunction() {
      console.log("menu bar clicked");

      document.body.classList.add("navbar-open");

      var div = document.createElement("div");

      div.setAttribute("id", "super-div");
      div.setAttribute("class", "backdrop backdrop-navbar");
      div.setAttribute("onclick","myFunction2();");

      var navbars = document.getElementsByClassName('navbar');
      var navbar = navbars[0];

      navbar.appendChild(div);
    }

    function myFunction2() {
      console.log("backdrop-navbar clicked!!!");

      document.body.className = document.body.className.replace("navbar-open","");

      document.getElementById("super-div").outerHTML = "";
    }

  </script>

<script src="https://sheet2site.com/assets/js/embedded/api-client-side.min.js"></script>

</body>

</html>